.collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-item #delete-icon {
    cursor: pointer;
    color: tomato;
    font-size: 18px;
}
.collection-item #details-icon {
    cursor: pointer;
    font-size: 18px;
}