.collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-item #delete-icon {
    cursor: pointer;
    color: tomato;
    font-size: 18px;
}
.collection-item #details-icon {
    cursor: pointer;
    font-size: 18px;
}
.collection-item .vote-box {
    display: flex;
    align-items: center;
}
.collection-item .vote-count {
    margin: 0 10px;
    font-weight: bold;
}
.collection-item #vote-icon {
    cursor: pointer;
    font-size: 18px;
}

.collection-item #vote-icon:active {
    color: green;
    animation: anim 1s ease-in-out;
}